{% extends "layout.html" %}

{% block title %}
    Update Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="old" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Update Password</button>
    </form>
    <br>
    <div class="div1 container">
        <div class="alert alert-warning alert-dismissible fade show">
            <h5>Password must contain the following:</h5>
            <ul>
            <li class="text-start"><b>01 lowercase letter: a-z</b></li>
            <li class="text-start"><b>01 uppercase letter: A-Z</b></li>
            <li class="text-start"><b>01 numbers: 0-9</b></li>
            <li class="text-start"><b>01 special characters: #$%^&+=</b></li>
            <li class="text-start"><b>minimum 08 characters</b></li>
            </ul>
        </div>
    </div>

{% endblock %}
